.container {
  display: flex;
  flex-direction: column;
  margin: 122px auto 0;
  width: 100%;
  max-width: 640px;
}

.containerAsPage {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 60px;
}

.orderNumber {
  margin-bottom: 40px;
  text-align: center;
}

.doneText {
  color: var(--ice-blue);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}