@import "src/assets/styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 1px dashed var(--interface-accent);
  border-radius: 8px;
  @include default-transition();
}

.containerIsOver {
  border-style: solid;
}

.text {
  text-align: center;
}