.modal {
  background-color: var(--interface-modal-bg);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  max-height: 90dvh;
  overflow: auto;
  scrollbar-width: none;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.closeIcon {
  margin-left: auto;
  display: block;
  cursor: pointer;
  height: 24px
}