@mixin default-transition() {
  transition: all 0.2s ease;
}

@mixin transition-for($attributes...) {
  @each $attribute in $attributes {
    #{$attribute} {
      transition: $attribute 0.2s ease;
    }
  }
}

@mixin withLineClamp($lastLine) {
  display: -webkit-box;
  -webkit-line-clamp: $lastLine;
  -webkit-box-orient: vertical;
  overflow: hidden;
}