.burgerIngredientsCategory {
  display: flex;
  flex-direction: column;
}

.burgerIngredientsCategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 272px));
  column-gap: 24px;
  row-gap: 32px;
}