.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}

.scrollBarContainer {
  max-height: 360px;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}