.burgerIngredients {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.scrollBarContainer {
  max-height: 600px;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}